@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Sniglet');


body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    min-height: 100vh;
    
}

.score, .choice, .result {
    display: flex ;
    justify-content: center;
    font-family: 'Sniglet';
    font-size: 68px;
    color:salmon;
    text-align:center;
}

.print {
    margin-left: 10px;

}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 5px solid rgb(255, 114, 138);
    background-color: pink;
    font-size: 78px;
    font-family: "Quicksand";
    font-weight: 600;
    color:white;
    width:350px;
    height:280px;
    margin:18px;
    transition: all .07s ease;

}

.hover {
    box-shadow: 0 0 1rem rgb(89, 39, 47);
    transform: scale(1.1);
    font: weight 300px;
}

.click {
    box-shadow: 0 0 1rem rgb(89, 39, 47);
    transform: scale(1.2);
    font: weight 300px;
    color: rgb(255, 114, 138);

}